<div class="container">
  <div class="card row">
    <div class="col s6 offset-s3">
      <h1>Typing Challenge</h1>
      <p>
        <span [class]=" !text[i] ? '' : item===text[i] ? 'textGreen' :'textRed'"
         *ngFor="let item of sentence.split('');let i=index;">{{item}}</span>
      </p>
      <div class="input-field">
        <input
          (input)="onInput($event.target.value)"
          placeholder="type"
          id="first_name"
          type="text"
          class="validate"
        />
        <label for="first_name"></label>
      </div>
      <div *ngIf="text == sentence">
        <p>Success!</p>
      </div>
    </div>
  </div>
</div>
